ALLORA_OFFCHAIN_NODE_CONFIG_JSON='{"wallet":{"addressKeyName":"test-offchain","addressRestoreMnemonic":"surge verify input...","alloraHomeDir":"","gas":"auto","gasAdjustment":1.5,"gasPrices":0.08,"maxFees":200000,"nodeRpc":"http://localhost:26657","maxRetries":3,"retryDelay":3,"accountSequenceRetryDelay":5,"submitTx":true,"blockDurationEstimated":10,"windowCorrectionFactor":0.8},"worker":[{"topicId":1,"inferenceEntrypointName":"api-worker-reputer","loopSeconds":5,"parameters":{"InferenceEndpoint":"http://localhost:8000/inference/{Token}","Token":"ETH"}}]}'
